<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Home.Summary' | translate}} - {{quizType | translate}}</mat-card-title>
    <mat-card-subtitle>{{quizBaseInfo}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <div class="demo-full-width">
      <h3><span>{{'Home.Score' | translate}}: </span> <span>{{totalScore}}</span></h3>
    </div>
    <div class="demo-full-width">
      <h3><span>{{'Home.AvgTimeSpentEachInSeconds' | translate}}: </span> <span>{{totalTimeSpent}}</span></h3>
    </div>
    <div class="demo-full-width" *ngIf="totalAwardPoints">
      <h3><span>{{'Home.AwardPointAssigned' | translate}}: </span> <span>{{totalAwardPoints}}</span></h3>
    </div>
    <div class="example-container mat-elevation-z8">
      <mat-table #table [dataSource]="dataSource">
        <!-- ID Column -->
        <ng-container cdkColumnDef="runid">
          <mat-header-cell *cdkHeaderCellDef>#</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.id}} </mat-cell>
        </ng-container>

        <!-- Total amount Column -->
        <ng-container cdkColumnDef="totalamt">
          <mat-header-cell *cdkHeaderCellDef>{{'Home.Total' | translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.totalamt}} </mat-cell>
        </ng-container>

        <!-- Failed Column -->
        <ng-container cdkColumnDef="failedamt">
          <mat-header-cell *cdkHeaderCellDef> {{'Home.Failure' | translate}} </mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.failedamt}} </mat-cell>
        </ng-container>

        <!-- Timespent Column -->
        <ng-container cdkColumnDef="timespent">
          <mat-header-cell *cdkHeaderCellDef>{{'Home.TimeSpentInSeconds' | translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.timespent}} </mat-cell>
        </ng-container>

        <!-- TimespentEach Column -->
        <ng-container cdkColumnDef="avgtimespent">
          <mat-header-cell *cdkHeaderCellDef>{{'Home.AvgTimeSpentEachInSeconds' | translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.avgtimespent}} </mat-cell>
        </ng-container>

        <!-- AdjTimespentEach Column -->
        <ng-container cdkColumnDef="adjavgtimespent">
          <mat-header-cell *cdkHeaderCellDef>{{'Home.AdjAvgTimeSpentEachInSeconds' | translate}}</mat-header-cell>
          <mat-cell *cdkCellDef="let row"> {{row.adjavgtimespent}} </mat-cell>
        </ng-container>

        <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
    </div>
  </mat-card-content>
</mat-card>
