<div>
  <mat-toolbar color="primary">
    <mat-form-field>
      <mat-select placeholder="{{'Home.User' | translate}}" [(ngModel)]="curUser" name="usr" (selectionChange)="onUserChanged($event)">
        <mat-option *ngFor="let user of listUsers" [value]="user.attenduser">
          {{ user.displayas }}
        </mat-option>
      </mat-select>
    </mat-form-field> 

    <mat-form-field>
      <mat-select placeholder="{{'Home.DateRange' | translate}}" [(ngModel)]="curRange" name="dtrange" (selectionChange)="onDateRangeChanged($event)">
        <mat-option *ngFor="let rge of listRanges" [value]="rge.daterange">
          {{ rge.i18term | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-toolbar>

  <mat-tab-group>
    <mat-tab label="{{'Home.SucceedRateTrend' | translate}}">
      <ngx-charts-line-chart
        [view]="viewGraph"
        [scheme]="colorSchemeGeneral"
        [results]="dataTrendSucceedRate"
        gradient="false"
        xAxis="true"
        yAxis="true"
        legend="true"
        showXAxisLabel="true"
        showYAxisLabel="true"
        xAxisLabel="Quiz"
        yAxisLabel="Rate"
        autoScale="true">
      </ngx-charts-line-chart>
    </mat-tab>

    <mat-tab label="{{'Home.TimeSpentTrend' | translate}}">
      <ngx-charts-line-chart [view]="viewGraph" [scheme]="colorSchemeGeneral" [results]="dataTrendTimeSpent">
      </ngx-charts-line-chart>
    </mat-tab>
  </mat-tab-group>
</div>