<div #digitclock style="font-size:20%;">
  <div class="clock c0">
    <div class="v n1"><div class="u"></div><div class="d"></div></div>
    <div class="v n2"><div class="u"></div><div class="d"></div></div>
    <div class="h n3"><div class="l"></div><div class="r"></div></div>
    <div class="v n4"><div class="u"></div><div class="d"></div></div>
    <div class="v n5"><div class="u"></div><div class="d"></div></div>
    <div class="h n6"><div class="l"></div><div class="r"></div></div>
    <div class="h n7"><div class="l"></div><div class="r"></div></div>
  </div>
  <div class="clock c0">
    <div class="v n1"><div class="u"></div><div class="d"></div></div>
    <div class="v n2"><div class="u"></div><div class="d"></div></div>
    <div class="h n3"><div class="l"></div><div class="r"></div></div>
    <div class="v n4"><div class="u"></div><div class="d"></div></div>
    <div class="v n5"><div class="u"></div><div class="d"></div></div>
    <div class="h n6"><div class="l"></div><div class="r"></div></div>
    <div class="h n7"><div class="l"></div><div class="r"></div></div>
  </div>
  <div class="clock dot">
      <div class="dot1"></div><div class="dot2"></div>
  </div>
  <div class="clock c0">
    <div class="v n1"><div class="u"></div><div class="d"></div></div>
    <div class="v n2"><div class="u"></div><div class="d"></div></div>
    <div class="h n3"><div class="l"></div><div class="r"></div></div>
    <div class="v n4"><div class="u"></div><div class="d"></div></div>
    <div class="v n5"><div class="u"></div><div class="d"></div></div>
    <div class="h n6"><div class="l"></div><div class="r"></div></div>
    <div class="h n7"><div class="l"></div><div class="r"></div></div>
  </div>
  <div class="clock c0">
    <div class="v n1"><div class="u"></div><div class="d"></div></div>
    <div class="v n2"><div class="u"></div><div class="d"></div></div>
    <div class="h n3"><div class="l"></div><div class="r"></div></div>
    <div class="v n4"><div class="u"></div><div class="d"></div></div>
    <div class="v n5"><div class="u"></div><div class="d"></div></div>
    <div class="h n6"><div class="l"></div><div class="r"></div></div>
    <div class="h n7"><div class="l"></div><div class="r"></div></div>
  </div>
  <div class="clock c0">
    <div class="v n1"><div class="u"></div><div class="d"></div></div>
    <div class="v n2"><div class="u"></div><div class="d"></div></div>
    <div class="h n3"><div class="l"></div><div class="r"></div></div>
    <div class="v n4"><div class="u"></div><div class="d"></div></div>
    <div class="v n5"><div class="u"></div><div class="d"></div></div>
    <div class="h n6"><div class="l"></div><div class="r"></div></div>
    <div class="h n7"><div class="l"></div><div class="r"></div></div>
  </div>
  <div class="clock c0">
    <div class="v n1"><div class="u"></div><div class="d"></div></div>
    <div class="v n2"><div class="u"></div><div class="d"></div></div>
    <div class="h n3"><div class="l"></div><div class="r"></div></div>
    <div class="v n4"><div class="u"></div><div class="d"></div></div>
    <div class="v n5"><div class="u"></div><div class="d"></div></div>
    <div class="h n6"><div class="l"></div><div class="r"></div></div>
    <div class="h n7"><div class="l"></div><div class="r"></div></div>
  </div>
</div>
