<h2 matDialogTitle>{{'Home.Failure' | translate}}</h2>
<mat-dialog-content>
  <h2 class="demo-full-width">
    <span>{{'Home.Score' | translate}}</span>
    <span [style.color]="currentScore > 80 ? 'lightyellow': 'red'">{{currentScore}}</span>
  </h2>
  <div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
      <!-- ID Column -->
      <ng-container cdkColumnDef="qid">
        <mat-header-cell *cdkHeaderCellDef>#</mat-header-cell>
        <mat-cell *cdkCellDef="let row"> {{row.qid}} </mat-cell>
      </ng-container>

      <!-- Expected Column -->
      <ng-container cdkColumnDef="expected">
        <mat-header-cell *cdkHeaderCellDef>{{'Home.Expected' | translate}}</mat-header-cell>
        <mat-cell *cdkCellDef="let row" style="color:#00FF00;"> {{row.expected}} </mat-cell>
      </ng-container>

      <!-- Inputted Column -->
      <ng-container cdkColumnDef="inputted">
        <mat-header-cell *cdkHeaderCellDef> {{'Home.Inputted' | translate}} </mat-header-cell>
        <mat-cell *cdkCellDef="let row" style="color:#FF0000;"> {{row.inputted}} </mat-cell>
      </ng-container>

      <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *cdkRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [matDialogClose]="true" tabindex="1">{{'Home.ContinueButton' | translate}}</button>
</mat-dialog-actions>
