<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Home.MultiplicationExercises' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngIf="!quizInstance.IsStarted">
      <div class="demo-full-width">
        <mat-form-field>
          <input matInput type="number" placeholder="{{'Home.QuizAmount' | translate}}" [(ngModel)]="StartQuizAmount" name="startquizamt"
            required>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="{{'Home.FailedFactor' | translate }}" matTooltip="{{'Home.FailedFactorHint' | translate}}" [(ngModel)]="FailedQuizFactor" name="fquizfactor"
            required>
          <mat-error>This field is required</mat-error>
        </mat-form-field>
      </div>
      <div class="demo-full-width">
        <mat-form-field>
          <input matInput type="number" placeholder="{{'Math.Multiplicand' | translate}}" [(ngModel)]="LeftNumberRangeBgn" name="leftnrbgn"
            required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="{{'Math.Multiplicand' | translate}}" [(ngModel)]="LeftNumberRangeEnd" name="leftnrend"
            required>
        </mat-form-field>
      </div>
      <div class="demo-full-width">
        <mat-form-field>
          <input matInput type="number" placeholder="{{'Math.Multiplier' | translate}}" [(ngModel)]="RightNumberRangeBgn" name="rightnrbgn"
            required>
        </mat-form-field>
        <mat-form-field>
          <input matInput type="number" placeholder="{{'Math.Multiplier' | translate}}" [(ngModel)]="RightNumberRangeEnd" name="rightnrend"
            required>
        </mat-form-field>
      </div>
    </div>

    <div class="demo-full-width" *ngIf="quizInstance.IsStarted">
      <app-digit-clock [IsStart]="quizInstance.IsStarted" style="display:block;"></app-digit-clock>
    </div>
      
    <div *ngIf="quizInstance.IsStarted">
      <div class="demo-full-width" *ngFor="let quiz of DisplayedQuizItems; trackBy: onQuizItemTrackBy">
        <span>({{quiz.QuizIndex}}). </span><span style="font-size: 24px">{{quiz.LeftNumber}} × {{quiz.RightNumber}} = </span>
        <mat-form-field>
          <input matInput type="number" placeholder="{{'Math.Product' | translate}}" [(ngModel)]="quiz.InputtedResult" name="iptquot">
        </mat-form-field>
      </div>

      <mat-paginator [length]="QuizItems.length"
              [pageSize]="pageSize"
              [pageIndex]="pageIndex"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="onPageChanged($event)">
      </mat-paginator> 
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="onQuizStart()" [disabled]="!CanStart()">{{'Home.StartButton' | translate }}</button>
    <button mat-button (click)="onQuizSubmit()" [disabled]="!CanSubmit()">{{'Home.SubmitButton' | translate }}</button>
  </mat-card-actions>
</mat-card>
