<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Home.PrintableQuizGenerator' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion hideToggle="true" multi="true">
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Home.Content' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div fxFlex="46">
            <mat-form-field class="control-full-width">
              <input matInput type="number" placeholder="{{'Home.AdditionExercises' | translate}}"
                [(ngModel)]="amountAddQuiz">
            </mat-form-field>
            <mat-form-field class="control-full-width">
              <input matInput type="number" placeholder="{{'Home.SubtractionExercises' | translate}}"
                [(ngModel)]="amountSubQuiz">
            </mat-form-field>
            <mat-form-field class="control-full-width">
              <input matInput type="number" placeholder="{{'Home.MultiplicationExercises' | translate}}"
                [(ngModel)]="amountMulQuiz">
            </mat-form-field>
            <!-- <mat-form-field class="control-full-width">
              <input matInput type="number" placeholder="{{'Home.DivisionExercises' | translate}}"
                [(ngModel)]="amountDivQuiz">
            </mat-form-field> -->
            <mat-form-field class="control-full-width">
              <input matInput type="number" placeholder="{{'Home.MixedOperations' | translate}}"
                [(ngModel)]="amountMixOpQuiz">
            </mat-form-field>
            <mat-form-field *ngIf="amountMixOpQuiz">
              <mat-select placeholder="Operators" [(ngModel)]="mixOpOperators" multiple>
                <mat-option *ngFor="let op of mixOpList" [value]="op">{{op}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="46">
            <div class="control-full-width">
              <mat-slide-toggle [(ngModel)]="randomInput">
                {{'Home.RandomizeInputPosition' | translate}}
              </mat-slide-toggle>
            </div>

            <mat-form-field class="control-full-width">
              <input matInput type="number" placeholder="{{'Math.DecimalPlaces' | translate}}"
                [(ngModel)]="decimalPlaces" name="dmlPlaces" required>
            </mat-form-field>

            <mat-form-field class="control-full-width">
              <input matInput type="number" placeholder="{{'Math.Scope' | translate}}" [(ngModel)]="numberBegin"
                name="nrbgn" required>
            </mat-form-field>
            <mat-form-field class="control-full-width">
              <input matInput type="number" placeholder="{{'Math.Scope' | translate}}" [(ngModel)]="numberEnd"
                name="nrend" required>
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{'Home.PrintSetting' | translate}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div fxLayout="row" fxLayoutAlign="space-around center">
          <div fxFlex="46">
            <mat-form-field class="control-full-width">
              <input matInput type="text" placeholder="{{'Home.CustomizeHeader' | translate}}" [(ngModel)]="quizHeader">
            </mat-form-field>
            <div class="control-full-width">
              <mat-slide-toggle [(ngModel)]="addScoreInput">
                {{'Home.AddScorePart' | translate}}
              </mat-slide-toggle>
            </div>
            <div class="control-full-width">
              <mat-slide-toggle [(ngModel)]="addDateInput">
                {{'Home.AddDatePart' | translate}}
              </mat-slide-toggle>
            </div>
          </div>
          <div fxFlex="46">
            <mat-form-field class="control-full-width">
              <input matInput type="number" placeholder="{{'Home.FontSize' | translate}}" [(ngModel)]="fontSize">
            </mat-form-field>
            <mat-form-field class="control-full-width">
              <input matInput type="number" placeholder="{{'Home.NumberOfCopies' | translate}}"
                [(ngModel)]="numberOfCopy">
            </mat-form-field>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div id="id_result" *ngIf="showresult" [style.font-size.em]="fontSize / 10">
      <div fxLayout="row" *ngIf="quizHeader" fxLayoutAlign="space-around center">
        <p>{{quizHeader}}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-around center" *ngIf="addDateInput || addScoreInput">
        <div fxFlex="28" *ngIf="addDateInput">
          <label>{{'Home.Date' | translate}}:</label>
        </div>
        <div fxFlex="28" *ngIf="addScoreInput">
          <label>{{'Home.Score' | translate}}:</label>
        </div>
      </div>

      <hr />

      <div *ngIf="arAddQuizFinal && arAddQuizFinal.length > 0">
        <p style="padding-left: 15px;">{{'Home.AdditionExercises' | translate}}</p>
        <div fxLayout="row" fxLayoutAlign="space-around center" *ngFor="let quiz of arAddQuizFinal">
          <div fxFlex="28" style="padding-top: 2px; padding-bottom: 2px;">
            <div *ngIf="quiz.length > 0">
              <span *ngIf="quiz[0][0]">&nbsp;{{quiz[0][0]}}&nbsp;</span>
              <span *ngIf="!quiz[0][0]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[0][1]}}&nbsp;</span>
              <span *ngIf="quiz[0][2]">&nbsp;{{quiz[0][2]}}&nbsp;</span>
              <span *ngIf="!quiz[0][2]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[0][3]}}&nbsp;</span>
              <span *ngIf="quiz[0][4]">&nbsp;{{quiz[0][4]}}&nbsp;</span>
              <span *ngIf="!quiz[0][4]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
            </div>
          </div>
          <div fxFlex="28" style="padding-top: 2px; padding-bottom: 2px;">
            <div *ngIf="quiz.length > 1">
              <span *ngIf="quiz[1][0]">&nbsp;{{quiz[1][0]}}&nbsp;</span>
              <span *ngIf="!quiz[1][0]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[1][1]}}&nbsp;</span>
              <span *ngIf="quiz[1][2]">&nbsp;{{quiz[1][2]}}&nbsp;</span>
              <span *ngIf="!quiz[1][2]"><span *ngFor="let ph of arPlaceHolder">{{ph}}</span></span>
              <span>&nbsp;{{quiz[1][3]}}&nbsp;</span>
              <span *ngIf="quiz[1][4]">&nbsp;{{quiz[1][4]}}&nbsp;</span>
              <span *ngIf="!quiz[1][4]"><span *ngFor="let ph of arPlaceHolder">{{ph}}</span></span>
            </div>
          </div>
          <div fxFlex="28" style="padding-top: 2px; padding-bottom: 2px;">
            <div *ngIf="quiz.length > 2">
              <span *ngIf="quiz[2][0]">&nbsp;{{quiz[2][0]}}&nbsp;</span>
              <span *ngIf="!quiz[2][0]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[2][1]}}&nbsp;</span>
              <span *ngIf="quiz[2][2]">&nbsp;{{quiz[2][2]}}&nbsp;</span>
              <span *ngIf="!quiz[2][2]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[2][3]}}&nbsp;</span>
              <span *ngIf="quiz[2][4]">&nbsp;{{quiz[2][4]}}&nbsp;</span>
              <span *ngIf="!quiz[2][4]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="arSubQuizFinal && arSubQuizFinal.length > 0">
        <p style="padding-left: 15px;">{{'Home.SubtractionExercises' | translate}}</p>
        <div fxLayout="row" fxLayoutAlign="space-around center" *ngFor="let quiz of arSubQuizFinal">
          <div fxFlex="28" style="padding-top: 2px; padding-bottom: 2px;">
            <div *ngIf="quiz.length > 0">
              <span *ngIf="quiz[0][0]">&nbsp;{{quiz[0][0]}}&nbsp;</span>
              <span *ngIf="!quiz[0][0]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[0][1]}}&nbsp;</span>
              <span *ngIf="quiz[0][2]">&nbsp;{{quiz[0][2]}}&nbsp;</span>
              <span *ngIf="!quiz[0][2]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[0][3]}}&nbsp;</span>
              <span *ngIf="quiz[0][4]">&nbsp;{{quiz[0][4]}}&nbsp;</span>
              <span *ngIf="!quiz[0][4]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
            </div>
          </div>
          <div fxFlex="28" style="padding-top: 2px; padding-bottom: 2px;">
            <div *ngIf="quiz.length > 1">
              <span *ngIf="quiz[1][0]">&nbsp;{{quiz[1][0]}}&nbsp;</span>
              <span *ngIf="!quiz[1][0]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[1][1]}}&nbsp;</span>
              <span *ngIf="quiz[1][2]">&nbsp;{{quiz[1][2]}}&nbsp;</span>
              <span *ngIf="!quiz[1][2]"><span *ngFor="let ph of arPlaceHolder">{{ph}}</span></span>
              <span>&nbsp;{{quiz[1][3]}}&nbsp;</span>
              <span *ngIf="quiz[1][4]">&nbsp;{{quiz[1][4]}}&nbsp;</span>
              <span *ngIf="!quiz[1][4]"><span *ngFor="let ph of arPlaceHolder">{{ph}}</span></span>
            </div>
          </div>
          <div fxFlex="28" style="padding-top: 2px; padding-bottom: 2px;">
            <div *ngIf="quiz.length > 2">
              <span *ngIf="quiz[2][0]">&nbsp;{{quiz[2][0]}}&nbsp;</span>
              <span *ngIf="!quiz[2][0]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[2][1]}}&nbsp;</span>
              <span *ngIf="quiz[2][2]">&nbsp;{{quiz[2][2]}}&nbsp;</span>
              <span *ngIf="!quiz[2][2]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[2][3]}}&nbsp;</span>
              <span *ngIf="quiz[2][4]">&nbsp;{{quiz[2][4]}}&nbsp;</span>
              <span *ngIf="!quiz[2][4]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="arMulQuizFinal && arMulQuizFinal.length > 0">
        <p style="padding-left: 15px;">{{'Home.MultiplicationExercises' | translate}}</p>
        <div fxLayout="row" fxLayoutAlign="space-around center" *ngFor="let quiz of arMulQuizFinal">
          <div fxFlex="28" style="padding-top: 2px; padding-bottom: 2px;">
            <div *ngIf="quiz.length > 0">
              <span *ngIf="quiz[0][0]">&nbsp;{{quiz[0][0]}}&nbsp;</span>
              <span *ngIf="!quiz[0][0]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[0][1]}}&nbsp;</span>
              <span *ngIf="quiz[0][2]">&nbsp;{{quiz[0][2]}}&nbsp;</span>
              <span *ngIf="!quiz[0][2]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[0][3]}}&nbsp;</span>
              <span *ngIf="quiz[0][4]">&nbsp;{{quiz[0][4]}}&nbsp;</span>
              <span *ngIf="!quiz[0][4]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
            </div>
          </div>
          <div fxFlex="28" style="padding-top: 2px; padding-bottom: 2px;">
            <div *ngIf="quiz.length > 1">
              <span *ngIf="quiz[1][0]">&nbsp;{{quiz[1][0]}}&nbsp;</span>
              <span *ngIf="!quiz[1][0]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[1][1]}}&nbsp;</span>
              <span *ngIf="quiz[1][2]">&nbsp;{{quiz[1][2]}}&nbsp;</span>
              <span *ngIf="!quiz[1][2]"><span *ngFor="let ph of arPlaceHolder">{{ph}}</span></span>
              <span>&nbsp;{{quiz[1][3]}}&nbsp;</span>
              <span *ngIf="quiz[1][4]">&nbsp;{{quiz[1][4]}}&nbsp;</span>
              <span *ngIf="!quiz[1][4]"><span *ngFor="let ph of arPlaceHolder">{{ph}}</span></span>
            </div>
          </div>
          <div fxFlex="28" style="padding-top: 2px; padding-bottom: 2px;">
            <div *ngIf="quiz.length > 2">
              <span *ngIf="quiz[2][0]">&nbsp;{{quiz[2][0]}}&nbsp;</span>
              <span *ngIf="!quiz[2][0]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[2][1]}}&nbsp;</span>
              <span *ngIf="quiz[2][2]">&nbsp;{{quiz[2][2]}}&nbsp;</span>
              <span *ngIf="!quiz[2][2]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
              <span>&nbsp;{{quiz[2][3]}}&nbsp;</span>
              <span *ngIf="quiz[2][4]">&nbsp;{{quiz[2][4]}}&nbsp;</span>
              <span *ngIf="!quiz[2][4]">
                <span *ngFor="let ph of arPlaceHolder">{{ph}}</span>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div *ngIf="arMixOpQuizFinal && arMixOpQuizFinal.length > 0">
        <p style="padding-left: 15px;">{{'Home.MixedOperations' | translate}}</p>
        <div fxLayout="row" fxLayoutAlign="space-around center" *ngFor="let quiz of arMixOpQuizFinal">
        </div>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onNewGenerate()">{{'Home.SubmitButton' | translate }}</button>
  </mat-card-actions>
</mat-card>
