<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Home.PrintableQuizGenerator' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-form-field class="control-full-width">
      <input matInput type="number" placeholder="{{'Home.AdditionExercises' | translate}}" [(ngModel)]="amountAddQuiz">
    </mat-form-field>
    <mat-form-field class="control-full-width">
      <input matInput type="number" placeholder="{{'Home.SubtractionExercises' | translate}}" [(ngModel)]="amountSubQuiz">
    </mat-form-field>
    <mat-form-field class="control-full-width">
      <input matInput type="number" placeholder="{{'Home.MultiplicationExercises' | translate}}" [(ngModel)]="amountMulQuiz">
    </mat-form-field>
    <mat-form-field class="control-full-width">
      <input matInput type="number" placeholder="{{'Home.DivisionExercises' | translate}}" [(ngModel)]="amountDivQuiz">
    </mat-form-field>
  
    <mat-form-field class="control-full-width">
      <input matInput type="number" placeholder="{{'Math.DecimalPlaces' | translate}}" [(ngModel)]="decimalPlaces" name="dmlPlaces"
        required>
    </mat-form-field>
    <mat-form-field class="control-full-width">
      <input matInput type="number" placeholder="{{'Math.Scope' | translate}}" [(ngModel)]="numberBegin" name="nrbgn"
        required>
    </mat-form-field>
    <mat-form-field class="control-full-width">
      <input matInput type="number" placeholder="{{'Math.Scope' | translate}}" [(ngModel)]="numberEnd" name="nrend"
        required>
    </mat-form-field>
    <mat-divider></mat-divider>
    <mat-form-field class="control-full-width">
      <input matInput type="number" placeholder="{{'Home.FontSize' | translate}}" [(ngModel)]="fontSize">
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onGenerate()">{{'Home.SubmitButton' | translate }}</button>
  </mat-card-actions>
</mat-card>
