<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Home.DivisionExercises' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <div *ngIf="!quizInstance.IsStarted">
        <app-quiz-control [controlInstance]="quizControl" [disabled]="controlFronzen"></app-quiz-control>
      </div>

      <div class="demo-full-width" *ngIf="quizInstance.IsStarted">
        <app-digit-clock [IsStart]="quizInstance.IsStarted" style="display:block;"></app-digit-clock>
      </div>

      <div *ngIf="quizInstance.IsStarted">
        <div class="demo-full-width" *ngFor="let quiz of DisplayedQuizItems; trackBy: onQuizItemTrackBy">
          <span>({{quiz.QuizIndex}}). </span><span style="font-size: 24px">{{quiz.Dividend}} ÷ {{quiz.Divisor}} = </span>
          <mat-form-field>
            <input matInput type="number" placeholder="{{'Math.Quotient' | translate}}" [(ngModel)]="quiz.InputtedQuotient" name="iptquot">
          </mat-form-field>
          <span> ... </span>
          <mat-form-field>
            <input matInput type="number" placeholder="{{'Math.Remainder' | translate}}" [(ngModel)]="quiz.InputtedRemainder" name="iptrmd">
          </mat-form-field>
        </div>

        <mat-paginator [length]="QuizItems.length" [pageSize]="pageSize" [pageIndex]="pageIndex" [pageSizeOptions]="[5, 10, 25, 100]"
          (page)="onPageChanged($event)">
        </mat-paginator>
      </div>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="onQuizStart()" [disabled]="!CanStart()">{{'Home.StartButton' | translate }}</button>
    <button mat-button (click)="onQuizSubmit()" [disabled]="!CanSubmit()">{{'Home.SubmitButton' | translate }}</button>
  </mat-card-actions>
</mat-card>
