.game-time-images,.game-tag-images{
  width: 39px;
  height: 23px;
}

.game-time-images img,.game-tag-images img{
  float: left;
}

.game-time-images{
  float: right;
}

.game-tag-images{
  float: left;
}
