<div class="mine-wrap" #mscontainer>
  <div class="title clearfix">
    <div class="title-txt">Minesweeper</div>
    <div class="window-control">
      <div class="window-min"></div>
      <div class="window-max"></div>
      <div class="window-close"></div>
    </div>
  </div>

  <div class="mine-main clearfix">
    <div class="mine-con">
      <div class="game-tags clearfix">
        <div #gametags class="game-tag-images">
          <img src="assets/image/mineresource/d0.jpg">
          <img src="assets/image/mineresource/d0.jpg">
          <img src="assets/image/mineresource/d0.jpg">
        </div>
        <div class="game-face">
          <img src="assets/mineresource/image/face_normal.jpg" (click)="onReset()" #face>
        </div>
        <div #gametime class="game-time-images">
          <img src="assets/image/mineresource/d0.jpg">
          <img src="assets/image/mineresource/d0.jpg">
          <img src="assets/image/mineresource/d0.jpg">
        </div>
      </div>
      <div class="mine-canvas">
        <canvas #canvasmine></canvas>
      </div>
    </div>
  </div>
</div>
