<mat-card>
  <mat-card-header>
    <mat-card-title>{{pageHeader | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-toolbar color="primary">
      <mat-select placeholder="{{'Home.User' | translate}}" [disabled]="!IsListView" 
        [(ngModel)]="SelectedUser" name="usr" #ctrlSel>
        <mat-option *ngFor="let user of listUsers" [value]="user">
          {{ user.displayas }}
        </mat-option>
      </mat-select>
      <mat-checkbox [(ngModel)]="allowInvalid">{{'Home.IncludeInvalidOne' | translate}}</mat-checkbox>

      <button mat-icon-button [disabled]="!IsListView || (SelectedUser === undefined) || (CurrentUser === undefined) || (CurrentUser !== undefined && !CurrentUser.AwardPlanCreate)" (click)="onCreatePlan()">
        <mat-icon class="md-24" aria-label="Create">create_new_folder</mat-icon>
      </button>
      <button mat-icon-button [disabled]="!IsListView || (SelectedUser === undefined) || (CurrentUser === undefined)" (click)="onRefreshPlan()">
        <mat-icon class="md-24" aria-label="Create">refresh</mat-icon>
      </button>
  
      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>
      <span>{{'Home.AwardPlanByUser' | translate}}</span>
    </mat-toolbar>

    <div class="example-container mat-elevation-z8">
      <div class="example-loading-shade"
        *ngIf="isLoadingResults">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
      </div>

      <mat-table #table [dataSource]="dataSource"
        matSort matSortActive="ValidTo" matSortDisableClear matSortDirection="asc">
        <ng-container matColumnDef="ID">
          <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-mini-fab [disabled]="!IsListView || (CurrentUser === undefined) || (CurrentUser !== undefined && !CurrentUser.AwardPlanCreate)" 
              (click)="onCreatePlanByCopy(element)">
              <mat-icon class="md-14" aria-label="Copy">content_copy</mat-icon>
            </button>
            <button mat-mini-fab [disabled]="!IsListView || (CurrentUser === undefined) || (CurrentUser !== undefined && !CurrentUser.AwardPlanUpdate)" 
              (click)="onEditPlan(element)">
              <mat-icon class="md-14" aria-label="Edit">edit</mat-icon>
            </button>
            <button mat-mini-fab [disabled]="!IsListView || (CurrentUser === undefined) || (CurrentUser !== undefined && !CurrentUser.AwardPlanDelete)" 
              (click)="onDeletePlan(element)">
              <mat-icon class="md-14" aria-label="Delete">delete</mat-icon>
            </button>
            {{element.ID}} 
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ValidFrom">
          <mat-header-cell *matHeaderCellDef> {{'Home.ValidFrom' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ValidFromFormatString}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ValidTo">
          <mat-header-cell *matHeaderCellDef mat-sort-header disableClear="true"> {{'Home.ValidTo' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.ValidToFormatString}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="QuizType">
          <mat-header-cell *matHeaderCellDef> {{'Home.QuizType' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.QuizTypeUIString | translate}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="AwardCondition">
          <mat-header-cell *matHeaderCellDef> {{'Home.AwardCondition' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> 
            <span>{{ element.getAwardScoreCondition | translate:element.getAwardScoreConditionParam }} ;</span> 
            <span>{{ element.getAwardAvgTimeCondition | translate:element.getAwardAvgTimeConditionParam }}</span> </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Award">
          <mat-header-cell *matHeaderCellDef> {{'Home.Award' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Award}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

      <mat-paginator #paginator [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]" [showFirstLastButtons]="true">
      </mat-paginator>      
    </div>

    <div *ngIf="!IsListView" class="mt-2 pt-2">
      <div class="demo-full-width">
        <mat-form-field>
          <input matInput type="text" placeholder="{{'Home.User' | translate}}" readonly [(ngModel)]="SelectedUser.displayas">
        </mat-form-field>
      </div>

      <div class="demo-full-width">
        <mat-form-field>
          <input matInput [(ngModel)]="CurrentPlan.ValidFrom" [matDatepicker]="vfmpicker" placeholder="{{'Home.ValidFrom' | translate}}">
          <mat-datepicker-toggle matSuffix [for]="vfmpicker"></mat-datepicker-toggle>
          <mat-datepicker #vfmpicker></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <input matInput [(ngModel)]="CurrentPlan.ValidTo" [matDatepicker]="vtopicker" placeholder="{{'Home.ValidTo' | translate}}">
          <mat-datepicker-toggle matSuffix [for]="vtopicker"></mat-datepicker-toggle>
          <mat-datepicker #vtopicker></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-select class="demo-full-width" placeholder="{{'Home.Type' | translate}}" [(ngModel)]="CurrentPlan.QuizType" name="planqtype">
        <mat-option *ngFor="let qt of listQTypes" [value]="qt.value">
          {{ qt.displayas | translate }}
        </mat-option>
      </mat-select>
      
      <div class="demo-full-width" *ngIf="CurrentPlan.QuizControl" style="border: solid 1px;">
        <app-quiz-control [controlInstance]="CurrentPlan.QuizControl"></app-quiz-control>
      </div>

      <mat-form-field class="demo-full-width">
        <input matInput type="number" placeholder="{{'Home.Score' | translate}}" [(ngModel)]="CurrentPlan.MinQuizScore">
      </mat-form-field>

      <mat-form-field class="demo-full-width">
        <input matInput type="number" placeholder="{{'Home.AdjAvgTimeSpentEachInSeconds' | translate}}" [(ngModel)]="CurrentPlan.MaxQuizAvgTime">
      </mat-form-field>

      <mat-form-field class="demo-full-width">
        <input matInput type="number" placeholder="{{'Home.AwardPoint' | translate}}" [(ngModel)]="CurrentPlan.Award">
      </mat-form-field>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="!IsListView" (click)="onDetailPlanSubmit()" [disabled]="!CanDetailPlanSubmit()">{{'Home.SubmitButton' | translate }}</button>
    <button mat-button *ngIf="!IsListView" (click)="onDetailPlanCancel()">{{'Home.CancelButton' | translate }}</button>
  </mat-card-actions>
</mat-card>
