<md-card>
  <md-card-header>
    <md-card-title>{{pageHeader | translate}}</md-card-title>
  </md-card-header>
  <md-card-content>
    <md-toolbar color="primary" *ngIf="IsListView">
      <md-select placeholder="{{'Home.User' | translate}}" [disabled]="!IsListView" [(ngModel)]="CurrentUser" name="usr" (change)="onUserChanged($event)">
        <md-option *ngFor="let user of listUsers" [value]="user">
          {{ user.displayas }}
        </md-option>
      </md-select>

      <button md-icon-button [disabled]="!CurrentUser" (click)="onCreatePlan()">
        <md-icon class="md-24" aria-label="Create">create_new_folder</md-icon>
      </button>

      <!-- This fills the remaining space of the current row -->
      <span class="example-fill-remaining-space"></span>
      <span>{{'Home.AwardPlanByUser' | translate}}</span>
    </md-toolbar>

    <div *ngIf="IsListView" class="example-container mat-elevation-z8">
      <md-table #table [dataSource]="dataSource">

        <ng-container mdColumnDef="ID">
          <md-header-cell *mdHeaderCellDef> # </md-header-cell>
          <md-cell *mdCellDef="let element">
            <button md-mini-fab (click)="onEditPlan(element)">
              <md-icon class="md-14" aria-label="Edit">edit</md-icon>
            </button>
            <button md-mini-fab (click)="onDeletePlan(element)">
              <md-icon class="md-14" aria-label="Delete">delete</md-icon>
            </button>
            {{element.ID}} 
          </md-cell>
        </ng-container>
        <ng-container mdColumnDef="ValidFrom">
          <md-header-cell *mdHeaderCellDef> {{'Home.ValidFrom' | translate }} </md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.ValidFrom.format('YYYY-MM-DD')}} </md-cell>
        </ng-container>
        <ng-container mdColumnDef="ValidTo">
          <md-header-cell *mdHeaderCellDef> {{'Home.ValidTo' | translate }} </md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.ValidTo.format('YYYY-MM-DD')}} </md-cell>
        </ng-container>
        <ng-container mdColumnDef="QuizType">
          <md-header-cell *mdHeaderCellDef> {{'Home.QuizType' | translate }} </md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.getQuizTypeUIString() | translate}} </md-cell>
        </ng-container>
        <ng-container mdColumnDef="AwardCondition">
          <md-header-cell *mdHeaderCellDef> {{'Home.AwardCondition' | translate }} </md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.getAwardScoreCondition() | translate: element.getAwardScoreConditionParam()}} ; {{element.getAwardAvgTimeCondition()
            | translate: element.getAwardAvgTimeConditionParam()}} </md-cell>
        </ng-container>
        <ng-container mdColumnDef="Award">
          <md-header-cell *mdHeaderCellDef> {{'Home.Award' | translate }} </md-header-cell>
          <md-cell *mdCellDef="let element"> {{element.Award}} </md-cell>
        </ng-container>

        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
      </md-table>
    </div>

    <div *ngIf="IsDetailView">
      <div class="demo-full-width">
        <md-form-field>
          <input mdInput type="text" placeholder="{{'Home.User' | translate}}" readonly [(ngModel)]="CurrentUser.displayas">
        </md-form-field>
      </div>

      <div class="demo-full-width">
        <md-form-field>
          <input mdInput [(ngModel)]="CurrentPlan.ValidFrom" [mdDatepicker]="vfmpicker" placeholder="{{'Home.ValidFrom' | translate}}">
          <md-datepicker-toggle mdSuffix [for]="vfmpicker"></md-datepicker-toggle>
          <md-datepicker #vfmpicker></md-datepicker>
        </md-form-field>
        <md-form-field>
          <input mdInput [(ngModel)]="CurrentPlan.ValidTo" [mdDatepicker]="vtopicker" placeholder="{{'Home.ValidTo' | translate}}">
          <md-datepicker-toggle mdSuffix [for]="vtopicker"></md-datepicker-toggle>
          <md-datepicker #vtopicker></md-datepicker>
        </md-form-field>
      </div>

      <md-select class="demo-full-width" placeholder="{{'Home.Type' | translate}}" [(ngModel)]="CurrentPlan.QuizType" name="planqtype">
        <md-option *ngFor="let qt of listQTypes" [value]="qt.value">
          {{ qt.displayas | translate }}
        </md-option>
      </md-select>

      <md-form-field class="demo-full-width">
        <input mdInput type="number" placeholder="{{'Home.Score' | translate}}" [(ngModel)]="CurrentPlan.MinQuizSocre">
      </md-form-field>

      <md-form-field class="demo-full-width">
        <input mdInput type="number" placeholder="{{'Home.AdjAvgTimeSpentEachInSeconds' | translate}}" [(ngModel)]="CurrentPlan.MinQuizAvgTime">
      </md-form-field>

      <md-form-field class="demo-full-width">
        <input mdInput type="number" placeholder="{{'Home.AwardPoint' | translate}}" [(ngModel)]="CurrentPlan.Award">
      </md-form-field>
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-button *ngIf="IsDetailView" (click)="onDetailPlanSubmit()" [disabled]="!CanDetailPlanSubmit()">{{'Home.SubmitButton' | translate }}</button>
    <button md-button *ngIf="IsDetailView" (click)="onDetailPlanCancel()">{{'Home.CancelButton' | translate }}</button>
  </md-card-actions>
</md-card>
