<div *ngIf="!currUserID" class="jumbotron" 
  [style.background-image]="getBackgroundImage()" style="background-repeat: no-repeat;background-position: right top;">

  <h1 class="display-3 text-dark">{{'Home.HomePage' | translate}}</h1>
  <p class="lead text-dark">{{'Home.WelcomeTitle' | translate}}</p>

  <p class="text-dark">{{'Home.WelcomeDetail' | translate}}</p>
  <p class="text-dark">{{'Home.WelcomeDetail2' | translate}}</p>
</div>

<div *ngIf="currUserID">
  <app-available-plans [CurrentUser]="currUserID"></app-available-plans>
</div>
