<mat-sidenav-container class="demo-root" fullscreen>
  <mat-sidenav #start>
    <div *ngIf="isLoggedIn" class="card">
      <div class="card-body">
        <h4 class="card-title text-muted">{{titleLogin}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{userDisplayAs}}</h6>
        <button (click)="onLogout()" mat-button style="background: #525252;">{{'Home.Logout' | translate}}</button>
      </div>
    </div>

    <mat-nav-list dense>
      <a *ngFor="let navItem of navItems; let i = index" mat-list-item (click)="start.close()" [routerLink]="[navItem.route]">
        {{i}} - {{navItem.name | translate}}
      </a>
    </mat-nav-list>
    <hr />
    <button mat-button (click)="start.close()">{{'Home.CloseButton' | translate}}</button>
  </mat-sidenav>

  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="start.open()">
        <mat-icon class="md-24">menu</mat-icon>
      </button>

      <div class="me-toolbar">
        <h1>{{'Home.MathExercise' | translate}}</h1>
        <div>
            <button mat-icon-button *ngIf="!isLoggedIn" (click)="onLogon()" title="Logon" matTooltip="{{'Home.Logon' | translate }}"><mat-icon color="accent">account_box</mat-icon></button>
            <button mat-icon-button *ngIf="isLoggedIn" [matMenuTriggerFor]="matMenuUser">
              <mat-icon color="accent">account_box</mat-icon>
            </button>
            <mat-menu #matMenuUser="matMenu" overlapTrigger="false" xPosition="after" yPosition="below">
              <button mat-menu-item disabled>{{titleLogin}}</button>
              <button mat-menu-item (click)="onUserDetail()">
                <mat-icon color="accent">account_circle</mat-icon>
                <span class="title">{{'Home.UserDetail' | translate}}</span>
              </button>
              <button mat-menu-item (click)="onLogout()">
                <mat-icon color="accent">exit_to_app</mat-icon>
                <span>{{'Home.Logout' | translate}}</span>
              </button>
            </mat-menu>
                  
            <button mat-icon-button mat-button [matMenuTriggerFor]="matMenuLanguage"><mat-icon color="accent">language</mat-icon></button>
            <mat-menu #matMenuLanguage="matMenu" overlapTrigger="false" xPosition="after" yPosition="below">
              <button mat-menu-item *ngFor="let lang of availableLanguages" (click)="onLanguageChange(lang.value)">
                <mat-icon *ngIf="selectedLanguage === lang.value">check</mat-icon>
                {{lang.displayas | translate}}
              </button>
            </mat-menu>
  
            <button mat-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
              <mat-icon color="accent" class="mat-24">fullscreen</mat-icon>
            </button>
  
            <button mat-icon-button (click)="onOpenGithubRepo()">
              <mat-icon color="accent">code</mat-icon>
            </button>
            
            <button mat-icon-button mat-button [matMenuTriggerFor]="matMenuApps"><mat-icon color="accent">apps</mat-icon></button>
            <mat-menu #matMenuApps="matMenu" overlapTrigger="false" xPosition="after" yPosition="below">
              <button mat-menu-item disabled>{{'Home.MathExercise' | translate}}</button>
              <button mat-menu-item (click)="onOpenHIH()">H.I.H.</button>
              <button mat-menu-item (click)="onOpenPhotoGallery()">Photo Gallery</button>
            </mat-menu>
          </div>
        </div>
    </mat-toolbar>

    <div class="me-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
