<mat-card *ngIf="!currUserID">
  <mat-card-header>
    <mat-card-title>{{'Home.HomePage' | translate}}</mat-card-title>
  </mat-card-header>
  <img mat-card-image [src]="backgroundimage" alt="Photos">
  <mat-card-content>
    <div class="mat-headline">{{'Home.WelcomeTitle' | translate}}</div>
    <p class="mat-body">{{'Home.WelcomeDetail' | translate}}</p>
    <p class="mat-body">{{'Home.WelcomeDetail2' | translate}}</p>
  </mat-card-content>
</mat-card>

<div *ngIf="currUserID">
  <app-available-plans [CurrentUser]="currUserID"></app-available-plans>
</div>
