<mat-sidenav-container class="demo-root" fullscreen>
  <mat-sidenav #start>
    <div *ngIf="isLoggedIn" class="card">
      <div class="card-body">
        <h4 class="card-title text-muted">{{titleLogin}}</h4>
        <h6 class="card-subtitle mb-2 text-muted">{{userDisplayAs}}</h6>
        <button (click)="onLogout()" mat-button style="background: #525252;">{{'Home.Logout' | translate}}</button>
      </div>
    </div>

    <mat-nav-list dense>
      <a *ngFor="let navItem of navItems; let i = index" mat-list-item (click)="start.close()" [routerLink]="[navItem.route]">
        {{i}} - {{navItem.name | translate}}
      </a>
    </mat-nav-list>
    <hr />
    <button mat-button (click)="start.close()">{{'Home.CloseButton' | translate}}</button>
  </mat-sidenav>

  <div>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="start.open()">
        <mat-icon class="md-24">menu</mat-icon>
      </button>
      <div class="demo-toolbar">
        <h1>{{'Home.MathExercise' | translate}}</h1>
        <div>
          <button mat-button *ngIf="!isLoggedIn" (click)="onLogon()" title="Logon">
            {{'Home.Logon' | translate }}
          </button>
          <button mat-button *ngIf="isLoggedIn" (click)="onUserDetail()">{{titleLogin}}</button>
          <mat-select [(ngModel)]="selectedLanguage" name="lang">
            <mat-option *ngFor="let lang of availableLanguages" [value]="lang.value">
              {{lang.displayas | translate}}
            </mat-option>
          </mat-select>
          <button mat-icon-button (click)="toggleFullscreen()" title="Toggle fullscreen">
            <mat-icon class="md-24">fullscreen</mat-icon>
          </button>
          <a mat-icon-button href="https://github.com/alvachien/mathexercise" target="_blank" title="Go to Source repo">
            <mat-icon class="md-24">code</mat-icon>
          </a>
        </div>
      </div>
    </mat-toolbar>

    <div class="demo-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
