.demo-full-width {
    width: 100%;
  }
  
  .example-card {
    //width: 400px;
    width: 100%;
  }
  
  .example-header-image {
    //background-image: url('../../../assets/img/examples/shiba1.jpg');
    background-size: cover;
  }  