<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Home.AwardOverview' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div>
      <mat-toolbar color="primary">
        <mat-select placeholder="{{'Home.User' | translate}}" [disabled]="!IsListView" [(ngModel)]="SelectedUser" name="usr" (selectionChange)="onUserChanged($event)">
          <mat-option *ngFor="let user of listUsers" [value]="user">
            {{ user.displayas }}
          </mat-option>
        </mat-select>

        <button mat-icon-button [disabled]="!SelectedUser || !IsListView || (CurrentUser === null) || (CurrentUser !== null && !CurrentUser.AwardCreate)"
          (click)="onCreateNewExpense()">
          <mat-icon class="md-24" aria-label="Create">create_new_folder</mat-icon>
        </button>

        <!-- This fills the remaining space of the current row -->
        <span class="example-fill-remaining-space"></span>
        <span>{{'Home.AwardBalanceByUser' | translate}} : </span>
        <span>{{AwardBalance}}</span>
      </mat-toolbar>

      <mat-table #table [dataSource]="dataSource">
        <ng-container matColumnDef="ID">
          <mat-header-cell *matHeaderCellDef> # </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-mini-fab (click)="onEditAward(element)" [disabled]="!IsListView || (CurrentUser === null) || (CurrentUser !== null && !CurrentUser.AwardUpdate)">
              <mat-icon class="md-18" aria-label="Edit">edit</mat-icon>
            </button>
            <button mat-mini-fab (click)="onDeleteAward(element)" [disabled]="!IsListView || (CurrentUser === null) || (CurrentUser !== null && !CurrentUser.AwardDelete)">
              <mat-icon class="md-18" aria-label="Delete">delete</mat-icon>
            </button> {{element.ID}}
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="AwardDate">
          <mat-header-cell *matHeaderCellDef> {{'Home.Date' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.AwardDateFormatString}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="AwardPlanID">
          <mat-header-cell *matHeaderCellDef> {{'Home.AwardPlan' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.AwardPlanID}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="QuizID">
          <mat-header-cell *matHeaderCellDef> {{'Home.QuizType' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.QuizTypeString | translate }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Award">
          <mat-header-cell *matHeaderCellDef> {{'Home.Award' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.Award}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Publish">
          <mat-header-cell *matHeaderCellDef> {{'Home.IsPunishment' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-checkbox [(ngModel)]="element.Publish" disabled></mat-checkbox>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="UsedReason">
          <mat-header-cell *matHeaderCellDef> {{'Home.ExpenseReason' | translate }} </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.UsedReason}} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator #paginator [length]="_abService.Awards.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
      </mat-paginator>
    </div>

    <div *ngIf="!IsListView" class="mt-2 pt-2">
      <div class="demo-full-width">
        <mat-form-field>
          <input matInput type="text" placeholder="{{'Home.User' | translate}}" readonly [(ngModel)]="SelectedUser.displayas">
        </mat-form-field>
      </div>

      <div class="demo-full-width">
        <mat-form-field>
          <input matInput [(ngModel)]="curAward.AwardDate" [matDatepicker]="awdpicker" placeholder="{{'Home.Date' | translate}}">
          <mat-datepicker-toggle matSuffix [for]="awdpicker"></mat-datepicker-toggle>
          <mat-datepicker #awdpicker></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-form-field class="demo-full-width">
        <input matInput type="number" placeholder="{{'Home.AwardPoint' | translate}}" [(ngModel)]="curAward.Award">
      </mat-form-field>

      <div class="demo-full-width">
        <mat-checkbox [(ngModel)]="curAward.Punish">{{'Home.IsPunishment' | translate }}</mat-checkbox>
      </div>

      <mat-form-field class="demo-full-width">
        <input matInput type="text" placeholder="{{'Home.ExpenseReason' | translate}}" [(ngModel)]="curAward.UsedReason">
      </mat-form-field>

    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button *ngIf="IsViewChangable" (click)="onDetailAwardSubmit()" [disabled]="!CanDetailAwardSubmit()">{{'Home.SubmitButton' | translate }}</button>
    <button mat-button *ngIf="IsViewChangable" (click)="onDetailAwardCancel()">{{'Home.CancelButton' | translate }}</button>
  </mat-card-actions>
</mat-card>
