<h2 matDialogTitle>{{ dlgInfo.Header | translate}}</h2>
<mat-dialog-content>
  <h2 class="demo-full-width lead"> {{ dlgInfo.Content | translate}}
  </h2>
</mat-dialog-content>
<mat-dialog-actions>
  <div *ngIf="IsOnlyOKButton">
    <button mat-button [matDialogClose]="true" tabindex="1">{{'Home.OKButton' | translate}}</button>
  </div>
  <div *ngIf="IsYesNoButton">
    <button mat-button [matDialogClose]="true" tabindex="1">{{'Home.YesButton' | translate}}</button>
    <button mat-button [matDialogClose]="false" tabindex="2">{{'Home.NoButton' | translate}}</button>
  </div>
  <div *ngIf="IsOKCancelButton">
    <button mat-button [matDialogClose]="true" tabindex="1">{{'Home.OKButton' | translate}}</button>
    <button mat-button [matDialogClose]="false" tabindex="2">{{'Home.CancelButton' | translate}}</button>
  </div>
  <div *ngIf="IsYesNoCancelButton">
    <button mat-button [matDialogClose]="true" tabindex="1">{{'Home.YesButton' | translate}}</button>
    <button mat-button [matDialogClose]="false" tabindex="2">{{'Home.NoButton' | translate}}</button>
    <button mat-button tabindex="3">{{'Home.CancelButton' | translate}}</button>
  </div>
</mat-dialog-actions>
