<md-card>
  <md-card-header>
    <md-card-title>{{'Home.FormulaExercises' | translate}}</md-card-title>
  </md-card-header>

  <md-card-content>
    <div *ngIf="!quizInstance.IsStarted">
      <div class="demo-full-width">
        <md-form-field>
          <input mdInput type="number" placeholder="{{'Home.QuizAmount' | translate}}" [(ngModel)]="StartQuizAmount" name="startquizamt"
            required>
          <md-error>This field is required</md-error>
        </md-form-field>
        <md-form-field>
          <input mdInput type="number" placeholder="{{'Home.FailedFactor' | translate }}" [(ngModel)]="FailedQuizFactor" name="fquizfactor"
            required>
          <md-error>This field is required</md-error>
        </md-form-field>
      </div>

      <div class="demo-full-width">
        <md-form-field>
          <input mdInput type="number" placeholder="{{'Math.Scope' | translate}}" [(ngModel)]="NumberRangeBgn" name="nrbgn"
            required>
        </md-form-field>
        <md-form-field>
          <input mdInput type="number" placeholder="{{'Math.Scope' | translate}}" [(ngModel)]="NumberRangeEnd" name="nrend"
            required>
        </md-form-field>
      </div>

      <div class="demo-full-width" *ngFor="let fs of formulaDef">
        <md-checkbox [(ngModel)]="fs.selected" [disabled]="fs.disabled"><span>{{fs.name | translate}}</span><span style="white-space:pre">  </span><span [innerHtml]="fs.formula"></span></md-checkbox>
      </div>
    </div>

    <div *ngIf="quizInstance.IsStarted">
      <div class="demo-full-width" *ngFor="let quiz of DisplayedQuizItems; trackBy: onQuizItemTrackBy">
        <span>({{quiz.QuizIndex}}). </span><span style="font-size: 24px">{{quiz.getQuizFormat() | translate:quiz.getQuizFormatParam()}} </span>
        <md-form-field>
          <input mdInput type="number" placeholder="{{'Home.Result' | translate}}" [(ngModel)]="quiz.InputtedResult" name="iptquot">
        </md-form-field>
      </div>

      <md-paginator [length]="QuizItems.length"
              [pageSize]="pageSize"
              [pageIndex]="pageIndex"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="onPageChanged($event)">
      </md-paginator> 
    </div>
  </md-card-content>

  <md-card-actions>
    <button md-button (click)="onQuizStart()" [disabled]="!CanStart()">{{'Home.StartButton' | translate }}</button>
    <button md-button (click)="onQuizSubmit()" [disabled]="!CanSubmit()">{{'Home.SubmitButton' | translate }}</button>
  </md-card-actions>
</md-card>
