<mat-card>
  <mat-card-header>
    <mat-card-title>{{'Home.UserDetail' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="demo-full-width">
      <mat-form-field>
        <input matInput placeholder="{{'Home.UserID' | translate}}" maxlength="60" readonly [(ngModel)]="UserID" name="User">
      </mat-form-field>
    </div>

    <div class="demo-full-width" *ngIf="!instanceUserDetailInfo">
      <mat-form-field>
        <input matInput placeholder="{{'Home.Mailbox' | translate }}" readonly [(ngModel)]="Mailbox" name="mailbox">
      </mat-form-field>
    </div>

    <div class="demo-full-width">
      <mat-form-field>
        <input matInput placeholder="{{'Home.DisplayAs' | translate }}" [(ngModel)]="DisplayAs" name="dispas" required>
        <mat-error>This field is required</mat-error>
      </mat-form-field>
    </div>

    <section class="example-section">
      <label class="example-margin">{{'Home.AwardPlan' | translate}}</label>
      <mat-checkbox class="example-margin" [(ngModel)]="awardPlanCreate" disabled>{{'Home.Create' | translate}}</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="awardPlanUpdate" disabled>{{'Home.Update' | translate}}</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="awardPlanDelete" disabled>{{'Home.Delete' | translate}}</mat-checkbox>
    </section>

    <section class="example-section">
      <label class="example-margin">{{'Home.Award' | translate}}</label>
      <mat-checkbox class="example-margin" [(ngModel)]="awardCreate" disabled>{{'Home.Create' | translate}}</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="awardUpdate" disabled>{{'Home.Update' | translate}}</mat-checkbox>
      <mat-checkbox class="example-margin" [(ngModel)]="awardDelete" disabled>{{'Home.Delete' | translate}}</mat-checkbox>
    </section>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="onSave()" [disabled]="!CanSave()">{{'Home.SaveButton' | translate}}</button>
  </mat-card-actions>
</mat-card>
