<md-card class="demo-kmp demo-basic">
  <md-card-header>
    <md-card-title>{{'Home.AdditionExercises' | translate}}</md-card-title>
  </md-card-header>
  <md-card-content>
    <div *ngIf="!quizInstance.IsStarted">
      <div class="demo-full-width">
        <md-input-container>
          <input mdInput type="number" placeholder="{{'Home.QuizAmount' | translate}}" [(ngModel)]="StartQuizAmount" name="startquizamt"
            required>
          <md-error>This field is required</md-error>
        </md-input-container>
        <md-input-container>
          <input mdInput type="number" placeholder="{{'Home.FailedFactor' | translate }}" [(ngModel)]="FailedQuizFactor" name="fquizfactor"
            required>
          <md-error>This field is required</md-error>
        </md-input-container>
      </div>
      <div class="demo-full-width">
        <md-input-container>
          <input mdInput type="number" placeholder="{{'Math.Summand' | translate}}" [(ngModel)]="LeftNumberRangeBgn" name="leftnrbgn"
            required>
        </md-input-container>
        <md-input-container>
          <input mdInput type="number" placeholder="{{'Math.Summand' | translate}}" [(ngModel)]="LeftNumberRangeEnd" name="leftnrend"
            required>
        </md-input-container>
      </div>
      <div class="demo-full-width">
        <md-input-container>
          <input mdInput type="number" placeholder="{{'Math.Addend' | translate}}" [(ngModel)]="RightNumberRangeBgn" name="rightnrbgn"
            required>
        </md-input-container>
        <md-input-container>
          <input mdInput type="number" placeholder="{{'Math.Addend' | translate}}" [(ngModel)]="RightNumberRangeEnd" name="rightnrend"
            required>
        </md-input-container>
      </div>
    </div>

    <div *ngIf="quizInstance.IsStarted">
      <div class="demo-full-width" *ngFor="let quiz of DisplayedQuizItems; trackBy: onQuizItemTrackBy">
        <span>({{quiz.QuizIndex}}). {{quiz.LeftNumber}} + {{quiz.RightNumber}} = </span>
        <md-input-container>
          <input mdInput type="number" placeholder="{{'Math.Sum' | translate}}" [(ngModel)]="quiz.InputtedResult" name="iptquot">
        </md-input-container>
      </div>

      <md-paginator [length]="QuizItems.length"
              [pageSize]="pageSize"
              [pageIndex]="pageIndex"
              [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="onPageChanged($event)">
      </md-paginator> 
    </div>
  </md-card-content>

  <md-card-actions>
    <button md-button (click)="onQuizStart()" [disabled]="!CanStart()">{{'Home.StartButton' | translate }}</button>
    <button md-button (click)="onQuizSubmit()" [disabled]="!CanSubmit()">{{'Home.SubmitButton' | translate }}</button>
  </md-card-actions>
</md-card>
